.priceandvolumebox-container {
    width: 100%;
    min-height: 100%;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 30% 40% 30%;

    .priceandvolumebox-container-inner {
        border: 1px solid black;
        border-radius: 8px;
        padding: 16px;
        background-color: #ffffff;

        .priceandvolumebox-using {
            text-align: center;
        }

        .priceandvolumebox-price {
            font-size: 20px;
            font-weight: bold;
        }

        .priceandvolumebox-volume {
            color: rgb(190, 189, 189);
            font-weight: bold;
        }
    }
}
